header{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 30px;
}

#logo-header{
    border-radius: 50%;
    height: 100px;
}